# Android Studio
*.iml
.idea
.gradle
/local.properties

#Built application files
/build
*.apk
*.ap_
*.aab
/captures

# Local configuration file (sdk path, etc)
local.properties

# OSX files
.DS_Store

# Other
.externalNativeBuild
.cxx
